.diary-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cont-box {
    box-shadow: 0 0 0.2em rgba(0, 0, 0, 0.2);
}

.img-upload, .img-display {
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor:pointer;
}

.img-display img {
    max-width: 100%;
    height: auto;
}

.img-upload p, img {
    cursor: pointer;
}

.img-upload img {
    width: 30%;
}

.image-upload input[type="file"] {
    display: none;
}

.diary-element {
    width: 90%;
    margin: auto;
}

.options {
    position: absolute;
    bottom: 1.3em;
    margin-left: 1.3em;
}

.diary-title input, input::placeholder{
    font-family: NotoSansCJKKR;
    width: 100%;
    color: #202020;
    border: none;
    font-size:x-large;
    font-weight: 800;
    margin: auto;
}

.diary-content {
    box-shadow: 0 0 0.2em rgba(0, 0, 0, 0.2);
    height: 88%;
}

.diary-detail-content {
    box-shadow: 0 0 0.2em rgba(0, 0, 0, 0.2);
    padding: 1.5em;
    height: 75%;
    font-size: 1em;
    line-height: 1.6em;
}

.diary-content textarea {
    resize: none;
    width: 90%;
    height: 90%;
    margin: 1em;
    font-size: 1.5em;
}
#visibility {
    border: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-size: 1em;
    cursor: pointer;
}

.custom-select-box {
    cursor: pointer;
    width: 6em;
    margin-left: 0.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrow {
    width: 1em;
    margin-left: 0.5em;
}
.custom-select-options {
    border: 1px solid black;
    background-color: white;
    position: absolute;
    width: 7em;
    z-index: 1;
}

.custom-option {
    padding: 0.2em;
    cursor: pointer;
}

.custom-option:hover, .custom-option.selected { color: #5c5cfe; }

/* weather */
.weather {
    display: flex;
    align-items: flex-start;
}

.weather input {
    display: none;
}

.weather label{
    display: inline-block;
    width: 3em;
    height: 3em;
    cursor: pointer;
}

.weather .sunnybtn, .sunny {
    margin-left: 0.5em;
    background: url('../assets/icons/9197.png') no-repeat center center;
    background-size: cover;
}
.weather input[type="radio"]:checked + label.sunnybtn{
    background: url('../assets/icons/9193.png') no-repeat center center;
    background-size: cover;
}
.weather .pcloudybtn{
    background: url('../assets/icons/9198.png') no-repeat center center;
    background-size: cover;
}
.weather input[type="radio"]:checked + label.pcloudybtn{
    background: url('../assets/icons/9190.png') no-repeat center center;
    background-size: cover;
}
.weather .rainybtn{
    background: url('../assets/icons/9194.png') no-repeat center center;
    background-size: cover;
}
.weather input[type="radio"]:checked + label.rainybtn{
    background: url('../assets/icons/9188.png') no-repeat center center;
    background-size: cover;
}
.weather .snowybtn{
    background: url('../assets/icons/9195.png') no-repeat center center;
    background-size: cover;
}
.weather input[type="radio"]:checked + label.snowybtn{
    background: url('../assets/icons/9191.png') no-repeat center center;
    background-size: cover;
}
.weather .cloudybtn{
    background: url('../assets/icons/9187.png') no-repeat center center;
    background-size: cover;
}
.weather input[type="radio"]:checked + label.cloudybtn{
    background: url('../assets/icons/9192.png') no-repeat center center;
    background-size: cover;
}

.submit-btn {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10%;
    background-color: #ffffff;
    color: #5c5cfe;
    border: none;
    font-size: 1em;
    cursor: pointer;
    text-align: center;
    box-shadow: 0 0 0.2em rgba(0, 0, 0, 0.2);
}

.submit-btn:hover {
    background-color: #5c5cfe;
    color: #ffffff;
}

/* diarymodal */
.diarymodal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.diarymodal {
    width: 40%;
    height: 50%;
    background: rgba(255, 255, 255, 0.9);
    padding: 2.5em;
    display: flex;
    gap: 2em;
    justify-content: space-between;
}

.diarymodal-option {
    width: 48%; /* 옵션 사이의 균일한 너비 */
    text-align: center;
    padding: 4.5em;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em; /* 내부 요소 간격 균일하게 */
}

.diarymodal-option .ai-icon, .diarymodal-option .create-icon {
    width: 4.5em;
    height: 4.5em;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.diarymodal-option .ai-icon {
    background-image: url('/src/assets/icons/AI_diary.png');
}

.diarymodal-option .create-icon {
    background-image: url('/src/assets/icons/create_diary.png');
}

.diarymodal-option p {
    margin: 0;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1em;
    line-height: 1.5;
}

.diarymodal-option button {
    margin-top: 3em;
    padding: 0.7em 1em;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}

.diarymodal-option button:hover {
    background-color: #333;
}

.modal-input {
    padding: 0.3em;
    margin: 1em 0 0 1em;
    font-size: 1em;
    width: 100%;
    max-width: 150px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Diaryboard MyDailyboard */
.diary-board {
    position: relative;
    margin: 2em auto;
    max-width: 60%;
    font-family: NotoSansCJKKR;
}

.diary-image, .diary-image img {
    width: 100%;
    height: auto;
}

.diary-image {
    margin-bottom: 1em;
    overflow: hidden;
}

.diary-image img {
    object-fit: cover;
}


.board-title {
    margin: 2.5em 0 2.5em 1em;
    font-size: 1.7em;
}

.diary-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap; 
    gap: 1em; 
    justify-content: space-between; 
    padding: 1em;
}

.diary-entry {
    position: relative;
    background: #f9f9f9;
    padding: 1.5em;
    border: 0.01em solid #ebebeb;
    box-shadow: 0 0 0.2em rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1 1 calc(33.333% - 1em); 
    box-sizing: border-box;
    max-width: 32%; 
}

h2 {
    margin: 0.5em 0;
    font-size: 1.1em;
    font-weight: bold;
}

.diary-count {
    color: blue; 
    font-weight: bold;
    font-size: 1em;
  }  

.diary-entry p {
    margin: 1em 0;
    flex-grow: 1;
    overflow: visible;
    display: block;
    text-overflow: initial;
}

.diary-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #888;
    font-size: 0.9em;
    margin-top: 0.5em;
}

.user-name {
    font-size: 0.9em; 
    margin-right: 0.5em; 
    color: #333; 
}

.createdAt {
    font-size: 0.9em;
    color: #999; 
}

.weather-icon {
    margin-left: auto;
    width: 45px; 
    height: 45px;
    display: inline-block;
    background-size: cover;
    border-radius: 50%;
}

.sunny {
    background-image: url('/src/assets/icons/9189.png');
}
  
.rainy {
    background-image: url('/src/assets/icons/9188.png');
}

.cloudy {
    background-image: url('/src/assets/icons/9190.png');
}

.partly-cloudy {
    background-image: url('/src/assets/icons/9191.png');
}

@media (max-width: 768px) {
    .diary-entry {
        flex: 1 1 calc(45% - 1em); 
        max-width: 48%;
    }
}

@media (max-width: 480px) {
    .diary-entry {
        flex: 1 1 calc(100% - 1em); 
        max-width: 100%;
    }
}

.summarize-button {
    border: none;
    background-color: transparent;
    color: #000;
    border: none;
    padding: 0.4em 0.8em;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    text-decoration: underline;
    z-index: 5;
}

/* 특정 날짜로 찾기 */
.date-filter {
    position: relative;
    margin-bottom: 1em;
    display: flex;
    justify-content: flex-end;
}

.date-filter-button {
    background-color: #4A90E2;
    color: #fff;
    border: none;
    padding: 0.4em 0.8em;
    cursor: pointer;
    font-size: 1em;
    z-index: 5;
}

.date-picker-container {
    position: absolute;
    margin-top: 0.2em;
    top: 100%; 
    right: 0;
    z-index: 10;
    background: #fff;
    box-shadow: 0 0 0.2em rgba(0, 0, 0, 0.2);
    border: none;
    padding: 1em;
}

/* like */
.diary-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 6em;
}

/* search */
.search-sort-container {
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 0.2em;
}

.search-icon {
    width: 1.5em;
    height: 1.5em;
    cursor: pointer;
}

.search-input {
    height: 0.8em;
    padding: 0.5em;
    font-size: 1em;
    border: 1px solid #ddd;
    border-radius: 0.25em;
    outline: none;
}

/* diaryboard 정렬 dropdown */
.sort-dropdown {
    position: absolute;
    display: inline-block;
    top: 2.5em;
    right: 1.3em;
}

.dropdown {
    position: relative;
}

.dropbtn {
    background-color: transparent;
    border: none;
    font-size: 1em;
    font-weight: bold;
    color: #000;
    cursor: pointer;
    display: flex;
    align-items: center;
} 
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #000;
    box-shadow: 0 0 0.2em rgba(0, 0, 0, 0.2);
    font-weight: bold;
    z-index: 1;
    min-width: 80px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-item {
    padding: 0.5em 0.6em;
    font-size: 0.9em;
    color: #000;
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: #fff;
}

.dropdown-item.active {
    color: blue;
    font-weight: bold;
}

/* diarydetail */
.diary-detail-container {
    max-width: 60%;
    margin: auto;
    padding: 2em;
    font-family: 'NotoSansCJKKR';
}

.diary-detail-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
    padding: 3em;
  }

.breadcrumb, .back-button {
    font-size: 0.9em;
    color: #000;
    margin: 0;
}

.back-button, .yoak, .close-summary  {
    background: none;
    border: none;
    cursor: pointer;
}

.flex-cont {
    display: flex;
    gap: 1em;
}

.meta-info {
    display: flex;
    align-items: center;
}

.detail-author {
    font-weight: bold;
    color: #000;
    margin: 0 1em 0 2em;
}
  
.detail-createdAt {
    color: #aaa;
    margin: 0 1em 0 1em;
}
  
.detail-public-status {
     font-weight: bold;
    color: #000;
    margin: 0 1em 0 1em;
}
  
.detail-weather-icon {
    width: 3em;
    height: 3em;
    background-size: cover;
    border-radius: 50%; 
}

.edit-delete-buttons {
  display: flex;
  gap: 1em;
  margin: 2em 0 0 1.5em;
}

.edit-button, .delete-button {
  background-color: transparent;
  border: none;
  color: blue;
  cursor: pointer;
  font-size: 0.9em;
}

.diary-detail-content {
    font-size: 1em;
    line-height: 1.6;
    color: #333;
    padding: 1.5em;
    background-color: #fff;
    box-shadow: 0 0 0.2em rgba(0, 0, 0, 0.2);
    margin-bottom: 1em;
}

.diary-footer {
    display: flex;
    justify-content: center;
    padding: 0.2em 0;
    margin-top: 1em;
    border-top: 1px solid #f0f0f0; /* 상단에 경계선 추가 */
    background-color: #fff;
    box-shadow: 0 0 0.2em rgba(0, 0, 0, 0.2);
    font-size: 1em;
    font-weight: bold;
}

.detail-like-section {
    display: flex;
    align-items: center;
    gap: 0.5em; 
    padding: 0.3em 1em;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.like-icon {
    background-image: url('/src/assets/icons/ico-subscription-b_2.png'); /* 비어있는 하트 이미지 */
    width: 24px;
    height: 24px;
    cursor: pointer;
    background-size: cover;
}
  
.like-icon.liked {
    background-image: url('/src/assets/icons/ico-subscription-b.png'); /* 채워진 하트 이미지 */
}

.yoak {
    background-color: #4A90E2;
    padding: 0.3em;
    font-size: 1.1em;
    color: #fff;
    margin-bottom: 1em;
    font-weight: bolder;
}

.summary-content {
    background-color: #fff;
    padding: 0.2em;
    box-shadow: 0 0 0.2em rgba(0, 0, 0, 0.2);
    margin-bottom: 1em;
}

.summary-title {
    font-weight: bold;
    font-size: 1.1em;
    margin: 1em 1em 0 1em;
    color: #000;
    border-bottom: 1px solid #000;
    padding-bottom: 0.5em;
}

.summary-content  p {
    background-color: #f9f9f9;
    margin: 1em 1em 0 1em;
    padding: 0.8em;
}

.close-summary {
    font-size: 0.9em;
    background-color: #000;
    color: #fff;
    padding: 0.4em;
    font-weight: bolder;
    margin: 1em
}


/* 일기작성 완료 모달 */
.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.modal-content {
    background-color: #fff;
    width: 80%;
    max-width: 900px;
    padding: 2em;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: relative; 
    gap: 1em;
}

.content-section {
    display: flex; 
    gap: 1em;
    flex-grow: 1;
}

.left-section, .right-section {
    display: flex;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}


.section-title {
    font-weight: bold;
    font-size: 1.2em;
    color: #000;
    border-bottom: 1px solid #000;
    padding-bottom: 0.5em;
}


.left-section p, .right-section p {
    background-color: #f9f9f9;
    padding: 1.5em;
    max-height: 200px;
    overflow-y: auto;
    word-wrap: break-word;
    white-space: pre-wrap;
}

.button-section {
    display: contents;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}


.register-button, .close-buttonm {
    padding: 0.7em 2em;
    font-size: 1em;
    font-weight: bold;
    border: none;
    cursor: pointer;
    flex: 1;
    text-align: center;
}

.register-button, .close-button {
    padding: 0.7em 2em;
    font-size: 1em;
    font-weight: bold;
    border: none;
    cursor: pointer;
    flex: 1;
    text-align: center;
}

.register-button {
    background-color: #5c5cfe;
    color: #fff;
}

.close-button {
    background-color: #ccc;
    color: #333;
}

.close-button:hover {
    background-color: #b3b3b3;
}

.register-button:hover {
    background-color: #4b4bdb;
}  